* {
	margin: 0;
	padding: 0;
	line-height: 1;
}

body{
	background-color: #ddd;
}

ul {
	list-style-type: none;
}

.container {
	background-color: #fff;
	width: 892px;
	margin: auto;
	padding: 0 44px;
}

.head {
	position: relative;
	height: 61px;
	border-bottom: 2px solid #938e8c;
}

.date {
	position: absolute;
	right: 0px;
	bottom: 5px;
	color: #D45D5C;
	font-size: 12px;
	font-family: "黑体";
}

.head-logo {
	position: relative;
	background-color: #d45d5c;
	height: 61px;
	width: 110px;
}

.head-logo > p {
	font-size: 12px;
	font-family: "黑体";
	color: #fff;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.main-row-1 {
	margin-top: 30px;
	width: 100%;
	height: 301px;
}

.img-swiper {
	position: relative;
	width: 641px;
	height: 301px;
	float: left;
}

.img-swiper > img {
	width: 100%;
	height: 100%;
}

.swiper-left,
.swiper-right {
	width: 191px;
	height: 301px;
	position: absolute;
	opacity: 0.3;
	top: 0;
}

.swiper-left {
	background-color: green;
	left: 0;
}

.swiper-right {
	background-color: red;
	right: 0;
}

.technologe {
	position: relative;
	margin-left: 686px;
	padding-top: 9px;
	border-top: 2px solid #cc8091;
	height: 290px;
}

.tech-t1,
.tech-t2 {
	font-size: 18px;
	letter-spacing: -0.04em;
	margin-bottom: 5px;
	padding: 0;
	line-height: 1;
	font-family: "microsoft yahei";
}

.tech-t1:first-letter,
.tech-t2:first-letter {
	font-size: 24px;
}

.tech-t1 {
	width: 65px;
	border-bottom: 2px solid #000;
}

.tech-t2 {
	width: 124px;
	border-bottom: 2px solid #000;
}

.tech-text {
	font-family: kartika;
	font-size: 12px;
}

.large-number {
	margin-top: 20px;
	font-size: 116px;
	color: #75b86b;
	font-style: italic;
	font-family: "microsoft yahei";
	margin-left: -10px;
}

.tech-foot {
	position: absolute;
	bottom: 0;
	color: #CC8091;
	font-family: "microsoft yahei";
	vertical-align: bottom;
}

.foot-num {
	font-size: 55px;
	float: left;
}

.foot-text {
	margin-left: 8px;
	margin-top: 16px;
	float: left;
}

.css {
	font-size: 21px;
}

.s-css {
	color: #bbb;
	font-size: 12px;
}

.main-row-2 {
	margin-top: 40px;
}

.main-row-2:after {
	content: "";
	display: block;
	clear: both;
	width: 0;
}

.page-col {
	width: 205px;
	margin-right: 30px;
	float: left;
}

.page-col > h3 {
	text-decoration: underline;
	margin-bottom: 10px;
	font-family: "microsoft yahei";
}

.page-title-a {
	color: #428c59;
}

.page-title-b {
	color: #d2984f;
}

.page-title-c {
	color: #cc7680;
}

.page-col > p {
	line-height: 1.3;
	opacity: 0.7;
	font-size: 12px;
	color: #231815;
}

.list-what {
	margin-top: 20px;
}

.list-what > li {
	line-height: 1.3;
	color: #231815;
	font-family: "microsoft yahei";
	font-size: 16px;
	opacity: 0.7;
}

.list-what > li span {
	color: #cd4a48;
	font-family: "microsoft yahei";
	font-style: italic;
}

.main-row-3 {
	margin-top: 70px;
}

.main-row-3:after {
	width: 0;
	content: "";
	display: block;
	clear: both;
}

.left-col,
.right-col {
	float: left;
}

.left-col {
	width: 412px;
}

.right-row {
	margin: 430px;
}

.front-end-title {
	font-size: 38px;
	color: #11456b;
	font-weight: bold;
	font-family: simhei;
	margin-bottom: 10px;
}

.front-end-title > span {
	font-size: 56px;
	color: #f5e327;
	font-style: italic;
}

.front-end-stitle {
	color: #11456b;
	font-size: 38px;
	font-weight: bold;
	font-family: simhei;
}

.title-group {
	padding-bottom: 15px;
	border-bottom: 2px solid #11456B;
}

.article {
	margin-top: 30px;
	font-size: 12px;
	line-height: 1.3;
	font-family: "宋体";
}

.article > span {
	padding-right: 16px;
	padding-bottom: 5px;
	float: left;
	font-size: 56px;
	color: #F5E327;
	font-family: "microsoft yahei";
}

.article > img {
	padding: 5px;
	width: 165px;
	height: 285px;
	float: right;
}

.right-col {
	margin-left: 20px;
}

.front-end-img {
	width: 458px;
	height: 275px;
	position: relative;
}

.front-end-img > img {
	width: 100%;
	height: 100%;
}

.img-cover {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 61px;
}

.img-text {
	border-left: 3px solid #72b16a;
	padding: 7px 0px 7px 15px;
	margin-left: 40px;
	margin-top: 11px;
}

.img-text-a {
	color: #fff;
	font-size: 26px;
	font-family: "microsoft yahei";
}

.img-text-b {
	margin-left: 5px;
	font-size: 12px;
	font-style: italic;
	color: #72B16A;
}

.aside {
	position: relative;
	overflow: hidden;
	width: 458px;
	height: 318px;
	margin-top: 26px;
	background-color: #eeedd6;
}

.front-list {
	padding-right: 22px;
	margin-top: 20px;
	margin-left: 45px;
}

.front-list > li {
	font-family: "宋体";
	display: block;
	line-height: 2.5;
	position: relative;
}

.front-list > li:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	top: 15px;
	left: -20px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #11456B;
}


.front-list > li:after{
	content:"";
	display: block;
	clear: both;
}
.list-1{
	line-height: 2.5;
	float: left;
	overflow: hidden;
	width: 340px;
	white-space: nowrap;
}
.list-2{
	float: right;
	line-height: 2.5;
}

.zero {
	overflow: hidden;
	width: 260px;
	height: 160px;
	background-color: #d45d5c;
	position: absolute;
	bottom: 0;
	left: 0;
}

.zero-text-group {
	margin-top: 30px;
	margin-left: 12px;
}

.big-zero {
	font-size: 110px;
	font-family: "microsoft yahei";
	color: #fff;
	float: left;
}

.zero-right {
	position: relative;
	top: 13px;
	padding-top: 5px;
	padding-left: 10px;
	height: 81px;
	margin-left: 70px;
	border-left: 2px solid #fff;
	color: #fff;
}

.zero-right-l1 {
	font-size: 17px;
	font-family: simhei;
	margin-bottom: 5px;
}

.zero-right-l2 {
	font-size: 12px;
}

.hello {
	position: absolute;
	bottom: 20px;
	right: 14px;
	width: 165px;
	height: 120px;
	font-size: 14px;
	font-style: italic;
	color: #5a5a5a;
	font-family: simhei;
	line-height: 1.2;
}

.hello > span {
	font-size: 72px;
	color: #D45D5C;
	line-height: 10px;
}

.left, .right{
	width: 40px;
	height: 1px;
	position: relative;
}
.left {
	right: 35px;
	top: 10px;
	float: left;
}

.right {
	float: right;
	position: relative;
	top: 30px;
	right: 20px;
}

.foot {
	margin-top: 40px;
	border-top: 1px solid #938e8c;
	height: 55px;
}

.foot > p {
	padding-top: 5px;
	text-align: right;
	font-size: 12px;
	font-family: simhei;
	color: #D45D5C;
}